<h1>Books</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    
  </tr>
</table>
<h2>New book</h2>
<a href="/books/new">新規投稿はこちらから</a>